# ==========================
# Java
# ==========================
*.class
*.war
*.ear
WEB-INF/classes/

# ==========================
# IDE
# ==========================
.vscode/
.history/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Windows / Mac
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

# ==========================
# Build Output
# ==========================
bin/
target/
out/


# Ignore uploaded profile images
images/profile/

# Keep logo
!images/logo.png